version: '3.8'

services:
  px4-sitl:
    build:
      context: .
      dockerfile: Dockerfile.px4
    container_name: px4-sitl
    privileged: true
    environment:
      - WSL_HOST_IP=host.docker.internal
      - PX4_SIM_HOST=host.docker.internal
    command: /start_px4.sh
    ports:
      - 14580:14580 #controller port
      - 50051:50051 #mavsdk_server port

  airsim-ros:
    build:
      context: .
      dockerfile: Dockerfile.airsim-ros
    container_name: airsim-ros
    environment:
      - WSL_HOST_IP=host.docker.internal
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    command: /start_airsim_ros.sh
    depends_on:
      - px4-sitl
    ports:
      - 12090:12090 # ros airsim port
      - 9090:9090   # ros ws bridge port
      - 11311:11311 # ros master

  # rviz:
  #   container_name: rviz
  #   # on a computer with nvidia you must use gpu
  #   # 
  #   # docker-compose build --build-arg 'TARGET=gpu'
  #   # or:
  #   # docker-compose build --build-arg 'TARGET=cpu'
  #   build:
  #     context: ./rviz
  #     args: 
  #       TARGET: gpu # cpu or gpu

  #   environment:
  #     # For ros master on reconcycle-dev2:
  #     - ROS_MASTER_URI=http://airsim-ros:11311
  #     - ROS_IP=host.docker.internal # $ hostname -I
  #     - "DISPLAY=$DISPLAY"
  #     # on a computer with nvidia:
  #     - NVIDIA_VISIBLE_DEVICES=0
  #     - NVIDIA_DRIVER_CAPABILITIES=all
  #   volumes:
  #     - "/tmp/.X11-unix:/tmp/.X11-unix" # for using local xserver
  #   devices:
  #     - /dev/dri:/dev/dri
  #   command: stdbuf -o L rosrun rviz rviz
  #   restart: unless-stopped